.about {
    margin-top: 10px;
    color: antiquewhite;
    font-size: 30px;
}

#aboutimg {
    margin-top: 25px;
    margin-bottom: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  p {
      font-style: italic;
  }

