h3 {
    text-align: center;
    color: gold;
}

h2 {
    text-align: center;
    color: burlywood;
}

#foodstandimg {
    margin-top: 30px;
    width: 100%;
    height: 680px; 
}

.card {
    margin-top: 30px;
}

.card-header {
    font-size: 1.75rem;
    font-weight: bolder;
    text-align: center;
}

.card-text {
    color: black;
    font-size: 1rem;
    line-height: .4rem;
}